body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}
h1 {
    color: #0056b3;
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 20px auto;
}

h2 {
    color: #0056b3;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #004494;
}

#resumeContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 20px auto;
}
.resume-heading{
    text-align: center;
    color: #0056b3;
    font-size: 25px;
    font-weight: bold;
    
}
.contact-info {
    text-align: center;
    margin-bottom: 10px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .left-link {
    margin-left: 0;
  }
  
  .right-link {
    margin-right: 0;
  }
/* ------------------------------------------------ */
@media (max-width: 640px) {
    body {
        padding: 10px;
    }

    form {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    textarea {
        width: calc(100% - 20px);
    }
}
